.wrapper {
    width: 1600px;
    margin: 0 auto;
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.bg-image {
    color: #FFFFFF;
    background-image: url(./assets/images/bg-image.png);
    height: 788px;
    width: 1600px;
    position: absolute;
    top: -10px;
}

.header {
    width: 1600px;
    height: 95px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.navigation  {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation li {
    
    line-height: 60px;
    margin: 0 50px;
}

.navigation li:hover {
    background: blue;
    color: red;
    cursor: pointer;
}

.first {
    text-decoration: underline;
}

.logo {
    width: 44px;
    height:45px;
    color: #FFFFFF;
}

.your-life {
    margin: 0 auto;
}
.your-life__content h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 4.5px;
    width: 730px;
    height: 75px;
    margin: 0 auto;
    margin-top: 160px;

}

.your-life__content p{
    font-size: 18px;
    line-height: 25px;
    width: 504px;
    height: 50px;
    margin: 20px auto 30px;
}

button {
    width: 184px;
    height: 46px;
    background: #00AFDB;
    padding: 15px 42px;
    color: #FFFFFF;
}

button:hover {
    background: blue;
    color: red;
    cursor: pointer;
}
.your-life__btn {
    font-weight: bold;
    line-height: 16px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}

.your-life__nav {
    margin: 183px auto 30px;
}

.your-life__nav li {
    display: inline;
    list-style: none;
    margin: 15px;
}

.your-life__nav li:hover {
} 

.your-life__nav img:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.rappresent {
    margin: 800px auto 0;
    display: flex;
    justify-content: space-evenly;
    height: 840px;
}

.rappresent__content {
    display: flex;
    flex-direction: column;
}

.rappresent__content h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    color: #373737;
    margin-top: 295px;
    width: 377px;
    height: 57px;
    text-align: left;
    text-transform: uppercase;
}

.rappresent__content p {
    width: 407px;
    height: 80px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.rappresent__img {
    margin-top: 120px;
    width: 407px;
    height: 582px;
}

.rappresent__btn button {
    margin-left: -50px;
}

.our-community {
    display: flex;
    color: #373737;
    width: 1600px;
    height: 504px;
    background: #F5F6F7;
    
}

.our-community__content {
    margin: 155px 140px 0 269px;
}

.our-community__content h1 {
    width: 170px;
    height: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    line-height: 20px;
    margin-left: 50px;
}    

.our-community__content p {
    width: 298px;
    height: 80px;
}

.our-coommunity__img {
    margin-top: 77px;
    margin-right: 0;
}

.our-community__number {
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    margin-bottom: 18px;
}

.our-coommunity__image {
    display: flex;
 
}

.our-community__image-item {
    width: 401px;
    height: 244px;
    margin: 0 15px;
    overflow: hidden;
}

.implement {
    display: flex;
    height: 840px;
    justify-content: space-evenly;
    text-align: left;
    margin: 0 auto;
}

.implement__note {
    margin-top: 120px;
    width: 407px;
    height: 582px;  
}

.implement__content {
    margin-top: 320px;
}

.implement__content h1 {
    width: 298px;
    height: 28px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;    
    line-height: 28px;
    text-align: left;
}

.implement__content p {
    width: 407px;
    height: 60px;
    color: #4E4E4E;
    line-height: 140%;
}

.subscribe {
    margin: 0 auto;
    width: 1600px;
    height: 598px;
    background-image: url(./assets/images/pexels.png);
    color: #FFFFFF;
}

.subscribe__title {
    padding-top: 220px;
justify-content: center;}

.subscribe__title  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 381px;
    height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 650px;
}

.subscribe__input {
    width: 340px;
    height: 46px;
    margin-top: 30px;
    color: #373737;
}

.subscribe__btn {
    width: 66px;
    height: 46px;
    font-size: 20px; 
}

.btn-submit {
    width: 66px;
    height: 52px;
    position: absolute;
    top: 3294px;
    left: 980px;
}

.btn-submit:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.download {
    width: 1600px;
    height: 468px;
    background: #F5F6F7;
    margin: -20px auto 0;
}

.download__content {
    padding-top: 120px;
}

.download__content h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}

.download__content p {
    width: 483px;
    height: 40px;  
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    margin: 0 auto 30px;
}

.btn_A {
    width: 188px;
    height: 50px;
    background: #00AFDB;
    font-size: 14px;    
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 40px;
}

.btn__icon {
    line-height: 35px;
    margin-left: -5px;
    width: 60px;
    height: 50px;
    background: #009CC2;
    padding: 0;
}

.download__btn {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    background: #000000;
    color: #FFFFFF;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.footer__list ul {
    display: flex;
    flex-direction: row;
}
.footer__list li {
    list-style: none;
    margin: 15px;
    margin-left: 12px;
    padding-left: 25px;
    border-left: 1px solid #FFFFFF;
}

.footer__list li:first-child {
    border-left: none;
    margin-left: 185px;
}

.footer__list li:hover {
    text-transform: uppercase;
    text-decoration: underline;
}

.footer__text {
    margin-right: 200px;
}